<div class="w3-card w3-round w3-white w3-center">
    <div class="w3-container">
      <p>Atividade para entregar</p>

      {% for atividade in atividades_limit %}
        <p><strong>{{ atividade.disciplina.nome }}</strong></p>
        <p>{{ atividade.titulo }}</p>
        
        {% if atividade in atividades_entregues %}
            <p><button class="w3-button w3-block w3-green w3-section" disabled>Entregue</button></p>
        {% elif atividade.status == 'ABERTA' %}
            <p><button onclick="abrirModal(
                '{{ atividade.titulo }}', '{{ atividade.descricao }}', '{{ atividade.professor.id }}', '{{ atividade.id }}', '{{ atividade.professor }}', '{{ aluno.id }}'
                )" data-id="{{ atividade.id }}"
                class="w3-button w3-block w3-green w3-section">Entregar</button></p>
        {% elif atividade.status == 'PRORROGADA' %}
            <p><button onclick="editaEntrega()" data-id="{{ atividade.id }}"
                class="w3-button w3-block w3-yellow w3-section">Prorrogada</button></p>
        {% else %}
            <p><button class="w3-button w3-block w3-red w3-section" disabled>Fechada</button></p>
        {% endif %}
        
        <hr class="w3-clear">
      
      {% endfor %}
    </div>
  </div><br>