<div class="w3-card w3-round w3-white">
  <div class="w3-container">
    <br>
    <p class="w3-center"><img src="{{ professor.imagem.url }}" class="w3-circle" style="height:106px;width:106px" alt="professor"></p>
    <h4 class="w3-center">{{ professor }}</h4>
    <hr>
    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>RP: {{ professor.rp }}</p>
    <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme"></i>Cargo: Professor</p>
    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i>Email: {{ professor.usuario.email }}</p>
  </div>
</div>
<br>