{% extends 'app/base_usuario.html' %}

{% load static %}

{% block content_professor %}

{% include 'app/partials/nav/_usuario_navbar.html' %}

{% include 'app/partials/mensagens/_modal_nova_mensagem.html' %}

{% include 'app/partials/mensagens/_modal_mensagem_recebida.html' %}
      
      
<!--PAGE CONTAINER-->

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- INFORMACOES DO professor FOTO RA ETC... -->
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      {% include 'app/partials/professor/_profile_professor.html' %}
      
      <!-- Accordion Partials-->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i>Turmas</button>
          <div id="Demo1" class="w3-hide w3-container w3-theme-l3">
          {% for turma in turmas %}
          <div>
              <a href=""><span class="w3-tag w3-small ">{{ turma }}</span></a>
          </div>
          {% endfor %}
        </div>

        {% include 'app/partials/administracao/_lista_presenca.html' %}
        
        
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i>Secretaria</button>
    <div id="Demo3" class="w3-hide w3-container">
      <div class="w3-row-padding">
          <br>
          <div class="w3-half">
              <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
              <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
              <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
              <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
              <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
          </div>
          <div class="w3-half">
              <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
          </div>
      </div>
    </div>
  </div>      
</div>
      <br>
      
      <!-- Cursos Partials--> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
            <p>Cursos</p>
            <p>
            {% for curso in cursos %}
                <a href="{% url 'app:curso' curso.id %}"><span class="w3-tag w3-small w3-theme-d5">{{ curso.nome }}</span></a>
            {% endfor %}
            </p>
        </div>
    </div>
    <br>
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      {% include 'app/partials/coluna_central/_pesquisa.html' %}

      <!-- EXIBIR INFORMACOES IMPORTANTES DE DISCIPLINAS ATIVIDADES -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
        
          <div>
            <span class="w3-right w3-tag w3-small w3-theme-l2">Data de inicio: {{ atividade.dt_inicio }}</span>
            <h3>Disciplina: {{ atividade.disciplina.nome }}</h3>
            <h4>Atividades: {{ atividade.titulo }}</h4>
            <hr class="w3-clear">
            <p>{{ atividade.descricao }}</p>
            
            
              <p><button class="w3-button w3-theme-d1 w3-margin-bottom" disabled>Entregue</button></p>
            
              <p><button onclick="abrirModal(
                '{{ atividade.titulo }}', '{{ atividade.descricao }}', '{{ atividade.professor.id }}', '{{ atividade.id }}', '{{ atividade.professor }}', '{{ aluno.id }}'
                )" data-id="{{ atividade.id }}"
                class="w3-button w3-theme-d1 w3-margin-bottom">Entregar</button></p>
            
              <button type="button" onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> Prorrogada</button>
            
            <p><button class="w3-button w3-red w3-margin-bottom" disabled><i class="fa fa-thumbs-up"></i> Fechada</button></p>
            
              <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> Comentário</button> 
            <span class="w3-right w3-tag w3-small w3-theme-l2">Data de fim: {{ atividade.dt_fim }}</span>
            <hr class="w3-clear">
          </div>
        
      </div>
      <hr class="w3-clear">
      <!-- FIM INFORMACOES -->
    </div>
    <!-- End Middle Column -->
    
    <!-- ESPACO PARA AVISOS -->
      <!-- Right Column -->
      <div class="w3-col m2">
        <!--PARTIALS ATIVIDADE PARA ENTREGAR-->
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container">
            <p>Atividade para entregar</p>
      
            
              <p><strong>{{ atividade.disciplina.nome }}</strong></p>
              <p>{{ atividade.titulo }}</p>
              
              
                  <p><button class="w3-button w3-block w3-green w3-section" disabled>Entregue</button></p>
              
                  <p><button onclick="abrirModal(
                      '{{ atividade.titulo }}', '{{ atividade.descricao }}', '{{ atividade.professor.id }}', '{{ atividade.id }}', '{{ atividade.professor }}', '{{ aluno.id }}'
                      )" data-id="{{ atividade.id }}"
                      class="w3-button w3-block w3-green w3-section">Entregar</button></p>
              
                  <p><button onclick="editaEntrega()" data-id="{{ atividade.id }}"
                      class="w3-button w3-block w3-yellow w3-section">Prorrogada</button></p>
             
                  <p><button class="w3-button w3-block w3-red w3-section" disabled>Fechada</button></p>
            
              
              <hr class="w3-clear">
            
            
          </div>
        </div><br>

        <!-- MODAL INICIO -->
          {% include 'app/partials/atividades/_modal_entrega_atividade_form.html' %}
          {% include 'app/partials/atividades/_modal_edita_entrega_atividade_form.html' %}
        <!-- FIM MODAL -->
        
        <!-- PARTIALS MENSAGENS RECEBIDAS-->
        
        {% include 'app/partials/mensagens/_mensagem_recebida.html' %}
        
      </div>
      <!-- End Right Column -->
  </div>
  <!-- End Grid -->

<!-- End Page Container -->
</div>
<br>


<!-- Footer-->

<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
  <a href="https://www.flaticon.com/br/icones-gratis/logotipo-do-instagram" title="logotipo do instagram ícones">Logotipo do instagram ícones criados por Pixel perfect - Flaticon</a>
</footer>

 <!-- Inclua as bibliotecas JS do Bootstrap 5 no final do arquivo -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>

<!--LEFT COLUMN-->
<!--FIM LEFT COLUMN-->
<!--FIM PAGE CONTAINER-->

</body>
</html>
{% endblock %}